html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Inter-Tight;
    src: url(assets/fonts/InterTight-VariableFont_wght.ttf);
}

h1 {
    font-size: 300%;
    margin: 0;
}

h2 {
    font-size: 200%;
    margin-top: 60px;
}

.bold-text {
    font-weight: bold;
}

body {
    min-height: 100vh;
    margin: 15px 25px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Inter-Tight';
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    line-height: 1.5;
}

.header {
    min-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.nav {
    width: 65%;
    padding-left: 35%;
}

.nav-list {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #32CD32;
}

.nav-link {
    padding: 0 0px;
}

.big-block {
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 20px;
}

.left-block {
    width: 30%;
}

.right-block {
    width: 65%;
    border-bottom: 1px solid;
}

.contact-information {
    list-style: none;
    margin: 0;
    padding: 0;
}

.column {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 40px;
}

.contacts {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.information {
    width: 70%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
}

.code {
    padding: 20px;
    background-color: #F2F2F2;
}

#languages-section {
    padding-bottom: 80px;
}

.footer {
    min-height: 120px;
    display: flex;
    flex-direction: row;
}

.footer-information {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35%;
    gap: 20px;
}

#logo-rs {
    width: 150px;
}

a:hover #logo-rs path[fill="black"] {
    fill: #32CD32;
}

@media (max-width: 768px) {
    h1 {
        line-height: 1;
        padding-top: 30px;
    }

    .information-link {
        color: #a4a4a4;
    }

    .header {
        min-height: 20px;
    }

    .nav {
        width: 100%;
        padding-left: 0;
    }

    .section {
        width: 100%;
    }

    .big-block {
        display: flex;
        flex-direction: column;
    }

    .left-block {
        width: 100%;
    }

    .right-block {
        width: 100%;
        border-bottom: none;
    }

    .contact-information {
        color: #a4a4a4;
    }

    #languages-section {
        border-bottom: 1px solid;
    }

    .footer-information {
        width: 100%;
        padding-left: 0;
    }
}

@media (max-width: 375px) {
    .header {
        min-width: 40px;
    }
    .nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .nav-link {
        padding-right: 20px;;
    }
}