html {
  scroll-behavior: smooth;
}

@font-face {
    font-family: Inter-Tight;
    src: url(assets/fonts/InterTight-VariableFont_wght.ttf);
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.bold-text {
    font-weight: bold;
}

body {
    min-height: 100vh;
    margin: 15px 25px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    font-family: 'Inter-Tight';
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.flex {
    display: flex;
    gap: 60px;
}

.section {
    width: 50%;
}

.nav-list {
    display: flex;
    justify-content: right;
    align-items: center;

    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #FF4500;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}

.code {
    padding: 20px;
    background-color: #F2F2F2;
}