html {
  scroll-behavior: smooth;
}

@font-face {
    font-family: Inter-Tight;
    src: url(assets/fonts/InterTight-VariableFont_wght.ttf);
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

h1 {
  font-size: 300%;
  margin: 0;
}

.bold-text {
    font-weight: bold;
}

body {
    min-height: 100vh;
    margin: 15px 25px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    font-family: 'Inter-Tight';
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.placeholder {
    width: 30%;
}

.nav {
    width: 70%;
}

.nav-list {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #FF4500;
}

.nav-item {
    flex-grow: 1;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}

.column {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 40px;
}

.contacts {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.information {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.code {
    padding: 20px;
    background-color: #F2F2F2;
}