@font-face {
    font-family: Inter-Tight;
    src: url(assets/fonts/InterTight-VariableFont_wght.ttf);
}

.bold-text {
    font-weight: bold;
}

body {
    min-height: 100vh;
    margin: 15px 25px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    font-family: 'Inter-Tight';
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}

.code {
    padding: 20px;
    background-color: #F2F2F2;
}